body > div.page-profile > div.application-main > main > div.container-xl > div > div.Layout-sidebar > div > div.js-profile-editable-replace > div.clearfix > div.position-relative {
    z-index: 1 !important
}

#js-contribution-activity, body > div.page-profile > div.application-main > main > div.container-xl > div > div.Layout-sidebar > div > div.js-profile-editable-replace {
    padding: 24px;
    border-radius: 6px;
    border: .909091px solid #30363d
}

.js-profile-timeline-year-list {
    border: .909091px solid #30363d
}

body > div.logged-out.page-profile > div.application-main > main > div.container-xl > div > div.Layout-sidebar > div > div.js-profile-editable-replace {
    margin-top: 56px
}

body > div.logged-in.page-profile > div.application-main > main > div.container-xl > div > div.Layout-sidebar > div > div.js-profile-editable-replace {
    margin-top: 24px
}

body > div.logged-in.page-profile > div.application-main > main > div > div > div.Layout-sidebar > div.h-card {
    margin-top: 0 !important
}

#js-contribution-activity, #user-activity-overview, #user-profile-frame > div > div.Box, .graph-before-activity-overview, .js-profile-timeline-year-list, .pinned-item-list-item > .Box, body > div.page-profile > div.application-main > main > div.container-xl > div > div.Layout-sidebar > div {
    background-color: rgba(0, 0, 0, .75) !important;
    border-radius: 6px
}

#user-profile-frame > div > div.Box > div > article > p > a > img, .activity-overview-box {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 6px
}

body > div.logged-out.page-profile > div.application-main > main > div.mt-4 {
    margin-top: 0 !important;
}

body > div.logged-out.page-profile > div.application-main {
    background: url("https://github.com/Bims-sh/Bims-sh/assets/46683337/33e9bca2-a102-4168-8817-61add445b15f") right 2%/25%;
    object-fit: cover;
    align-content: center
}

body > div.logged-in.page-profile > div.application-main {
    background: url("https://github.com/Bims-sh/Bims-sh/assets/46683337/33e9bca2-a102-4168-8817-61add445b15f") right 0/25%;
    object-fit: cover;
    align-content: center
}

#js-contribution-activity {
    margin-bottom: 20px;
    padding-top: 0
}

.graph-before-activity-overview {
    margin-bottom: 15px
}
